@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('variables.css');

.footer {
  background-color: var(--color-white-0);
  border-top: 1px solid var(--color-white-4);
  padding: 40px 0 0;
  font-family: var(--font-body);
}

.footer-container {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.footer-section {
  width: 22%;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section ul li a {
  font-size: 14px;
  color: var(--color-black-6);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: var(--color-black-0);
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid var(--color-white-4);
  margin-top: 30px;
  padding: 30px 0 15px;
  font-size: 13px;
  color: var(--color-black-8);
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px;
  }
}